* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1080px;
}

/* HEADER ===================================================== */
header {
    background: #fff;
    padding: 26px 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
}

header .container {
    flex-direction: row;
    align-items: flex-start;
}

nav {
    margin: 0 20px;
    display: flex;
    flex: 1;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 20px;
    font-family: 'Bender', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2.42px;
}

nav a {
    color: #000;
    text-decoration: none;
}

.lang-selector {
    justify-self: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lang-selector li {
    display: inline-block;
    font-family: 'Bender', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* INTRO ===================================================== */
section.intro {
    position: relative;
    margin-top: 100px;
    background: -webkit-image-set( url("assets/jumbo.png") 1x, url("assets/jumbo@2x.png") 2x ) no-repeat;
    background: -moz-image-set( url("assets/jumbo.png") 1x, url("assets/jumbo@2x.png") 2x ) no-repeat;
    background-position-x: 50%;
    height: 900px;
}

.intro--squares {
    position: absolute;
    top: 525px;
    left: 0;
}

.intro--title {
    position: absolute;
    top: 430px;
    left: 185px;
}

.intro--text {
    display: block;
    position: absolute;
    margin: 0;
    width: 325px;
    font-family: 'San Francisco Text', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.intro--text-1 {
    top: 485px;
    left: 464px;
}

.intro--text-2 {
    top: 675px;
    left: 645px;
}

/* INVENTORY ===================================================== */

section.inventory {
    padding-top: 215px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

section.inventory .container {
    align-items: center;
}

.inventory--crafting {

}

.inventory--digital {
    margin-top: 77px;
}

.inventory--machines {
    margin-top: 95px;
}

/* EVENTS ======================================================= */
section.events {
    padding: 80px 0;
    background: #000;
    color: #fff;
}

section.events .container {
    align-items: center;
}

.events .date--current-month {
    margin: 0;
    padding: 0;
    font-family: 'Bender-Black', sans-serif;
    font-size: 112px;
    font-weight: 800;
}

.events .date--other-months {
    margin: 20px 0 0;
    padding: 0 150px;
    list-style: none;
    text-align: center;
    font-family: 'Bender-Black', sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.events .date--other-months li {
    display: inline-block;
    padding: 20px 20px;
}

.events .date--other-months li.current {
    background: -webkit-image-set( url("assets/othermonths-current.png") 1x, url("assets/othermonths-current@2x.png") 2x ) no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    color: #000;
}

.events-posters {
    display: flex;
    flex-flow: wrap;
    margin-top: 100px;
}

.events-posters--poster {
    width: 340px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.events-posters--poster img {
    width: 100%;
}

/* PROJECTS ======================================================= */
section.projects {
    padding: 70px 0;
}

.projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    margin-top: 10px;
}

.projects-list--column {
    width: 247px;
    margin-right: 30px;
}

.projects-list--column:nth-child(1) { margin-top: -65px; }
.projects-list--column:nth-child(3) { margin-top: -90px; }
.projects-list--column:nth-child(4) { margin-top: -40px; margin-right: 0; }

.projects-list--project {
    margin: 1%;
    margin-bottom: 20px;
    padding: 6px;
    background: #000;
    color: #fff;
}

.projects-list--project img {
    width: 100%;
}

.projects-list--project--small {
    margin: 8px 0;
    font-family: 'San Francisco Text', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.projects-list--project--big {
    margin: 0 0 16px 0;
    font-family: 'Bender', Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.projects-list--footer {
    margin-top: -70px;
}

/* MEMBERSHIP ======================================================= */
section.membership {
    padding: 117px 0;
    background: #000;
}

.membership--intro-text {
    position: absolute;
    color: #fff;
    line-height: 20px;
    font-family: 'San Francisco Text', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.membership--intro-text-1 {
    top: 215px;
    left: 253px;
    width: 248px;
}

.membership--intro-text-2 {
    top: 122px;
    left: 645px;
    width: 248px;
}

.membership--register-button {
    position: absolute;
    top: 375px;
    left: 370px;
    display: block;
    width: 345px;
    height: 48px;
    border: 0;
    font-family: 'Bender-Black', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 800;
    background: -webkit-image-set( url("assets/register_button.png") 1x, url("assets/register_button@2x.png") 2x ) no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

.membership--cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.membership--cards--card {
    width: 312px;
    height: 491px;
    margin: 50px 0;
}

.membership--cards--card:nth-child(1n) {
    margin-right: 50px;
}

.membership--cards--card:nth-child(2n) {
    margin-left: 50px;
}

.membership--cards--card--description {
    margin-top: 296px;
    padding: 0 56px;
    line-height: 20px;
    font-family: 'San Francisco Text', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.membership--cards--card.card-keyboard {
    background: -webkit-image-set( url("assets/card_keyboard.png") 1x, url("assets/card_keyboard@2x.png") 2x) no-repeat;
}

.membership--cards--card.card-smartone {
    background: -webkit-image-set( url("assets/card_smartone.png") 1x, url("assets/card_smartone@2x.png") 2x) no-repeat;
}

.membership--cards--card.card-builder {
    background: -webkit-image-set( url("assets/card_builder.png") 1x, url("assets/card_builder@2x.png") 2x) no-repeat;
}

.membership--cards--card.card-alien {
    background: -webkit-image-set( url("assets/card_alien.png") 1x, url("assets/card_alien@2x.png") 2x) no-repeat;
}

/* FOOTER ======================================================= */
footer {
    display: flex;
    height: 340px;
}

.footer-contact {
    border-left: 11px solid #000;
    padding: 47px 34px;
    font-family: 'San Francisco Text', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.footer-contact--title {
    font-family: 'Bender-Black', Helvetica, Arial, sans-serif;
    line-height: 112px;
    font-size: 112px;
    font-weight: 800;
}

.footer-contact--address {
    margin-top: 20px;
}
